.p1 {
    width: 100%;
    display: flex;
    font-size: .8rem;
    background-color: black;
}

.p1 .logo {
    width: 10%;
}

.p1 .logo p {
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-size: 15px;
}

.p1 .menu {
    width: 90%;
}

.p1 .menu ul {
    list-style-type: none;
    display: flex;
}

.p1 .menu ul li {
    width: 10%;
}

.p1 .menu ul a {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 1rem 0;
}

.p1 .call {
    width: 10%;
}

.p1 .call ul {
    list-style-type: none;
    display: flex;
}

.p1 .call ul li {
    width: 100%;
}

.p1 .call ul a {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 1rem 0;
}

.p1 .search {
    position: relative;
    top: 1.5rem
}

.p1 .search input {
    padding: 3px 0px 3px 22px;
}

.p1 .search i {
    position: absolute; 
    left: 5%;
    top: 10%;
}